extends layout
block content

  container
  .col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
    h3 Datos del proyecto #{docId}
    |     
    #bs-collapse.panel-group.wrap
      .panel
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#", href="#one")
              | Cliente
        |         
        #one.panel-collapse.collapse
          .panel-body
             |Nombre:       #{nombre_cliente}
             br
             |Apellidos:    #{apellidos_cliente}
             br
             |CIF:          #{cif_cliente}
      // end of panel
      .panel
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#", href="#two")
              | Factura
        |         
        #two.panel-collapse.collapse
          .panel-body
             |ID:         #{id_factura}
             br
             |Pais:       #{pais_factura}
             br
             |Provincia:  #{provincia_factura}
             br
             |Municipio:  #{municipio_factura}
             br
             |Calle:      #{calle_factura}
             br
             |CP:         #{cp_factura}
             br
      // end of panel
      .panel
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#", href="#three")
              | Ficha
        |         
        #three.panel-collapse.collapse
          .panel-body
             |Localización:     #{localizacion_ficha}
             br
             |NºParticipantes:  #{numeroParticipantes_ficha}
             br
             if (presenciaMenores_ficha)
                |Presencia de menores: Si
              else
                |Presencia de menores: No
             br
             |Tipo de evento:   #{tipoEvento_ficha}
             br
             |Horario:          #{horario_ficha}
             
      // end of panel
      .panel
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse", data-parent="#", href="#four")
              | Obra
        |         
        #four.panel-collapse.collapse.in
          .panel-body
             |Pais:       #{pais_obra}
             br
             |Provincia:  #{provincia_obra}
             br
             |Municipio:  #{municipio_obra}
             br
             |Calle:      #{calle_obra}
             br
             |CP:         #{cp_obra}
             br
      // end of panel
    // end of #bs-collapse
 

